spring:
  application:
    name: member-service
  profiles:
    active: dev
  config:
    import: configserver:http://localhost:8787

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

---
spring:
  config:
    activate:
      on-profile: docker

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka